<html lang="en-US">

    <head>
        <title>Tra cứu văn bằng chứng chỉ - hệ thống tra cứu văn bằng chứng chỉ</title>
        <link href="../assets/images/_vnptLogo.png" rel="Shortcut Icon">

        <script
            src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript"
            src="http://code.jquery.com/jquery-latest.pack.js"></script>

        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/admin/style_admin.css">
        <link rel="stylesheet" href="../assets/css/common/style_header.css">
        <!-- <script type="text/javascript" src="../node_modules/web3/dist/web3.min.js"></script> -->
        <!-- <script type="text/javascript" src="../node_modules/web3/dist/web3.js"></script> -->
        <script type="text/javascript" src="../api/js/abi/StorageABI.js"></script>
        <script type="text/javascript" src="../api/js/admin.js"></script>
        <script type="text/javascript" src="../api/js/libs/parsley.min.js"></script>
        <!-- Style Css -->
        <link rel="stylesheet" href="../assets/css/common/style.css">
        <!-- Ionicons -->
        <link rel="stylesheet"
            href="../bower_components/Ionicons/css/ionicons.min.css">
        <!-- Spinner-CSS -->
        <link rel="stylesheet" href="../assets/css/common/spinner.css"
            type="text/css" media="all" />
        <!-- Google Font -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <meta content="text/html, charset=UTF-8; initial-scale=1,
            maximum-scale=1" http-equiv="content-type"
            name="viewport">

        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/> -->
        <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
        <!-- <link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'> -->
    </head>
    <style>
        .tableDegreeKind tr { display: none ; }
        .tableDegreeKind tr:nth-child(-n+5) { display: table-row ; }
    </style>
    <body class="bkg">
        <div class="spinner" id="spinner" style="display: none">
            <div class="blob blob-0"></div>
        </div>

        <script type="text/javascript">
        var div = document.getElementById('spinner');
        div.style.display = "block";
        setTimeout(function () {
            div.style.display = "none";
        }, 1000);
    </script>

    <div>
        <div class="ctn">
            <div class="header">
                <a href="#default" class="logo">
                    <img class="img-responsive" src="../assets/images/_shortcutIcon.png">
                </a>
                <div class="header-left">
                    <h1>CÔNG TY CÔNG NGHỆ THÔNG TIN VNPT</h1>
                    <h2>Hệ thống tra cứu văn bằng chứng chỉ</h2>
                </div>
                <div class="navigation" id="myTopNav">
                    <div class="degree-kind">
                        <button type="button" data-toggle="modal" data-target="#degreeKindModal" data-backdrop="static"
                            data-keyboard="false" id="degreeKindButton" onclick="degreeKindButton();">
                            Danh mục loại văn bằng
                        </button>
                    </div>
                    <div class="navigation" id="myTopNav">
                        <div class="degree-kind">
                            <button type="button" data-toggle="modal"
                                data-target="#degreeKindModal"
                                data-backdrop="static"
                                data-keyboard="false" id="degreeKindButton"
                                onclick="degreeKindButton();">
                                Danh mục loại văn bằng
                            </button>
                        </div>
                        <div class="degree-name">
                            <button type="button" data-toggle="modal"
                                data-target="#degreeNameModal"
                                data-backdrop="static"
                                data-keyboard="false" id="degreeNameButton"
                                onclick="degreeNameButton();">
                                Danh mục tên văn bằng
                            </button>
                        </div>
                        <div class="degree-management">
                            <button type="button" data-toggle="modal"
                                data-target="#degreeManagementModal"
                                data-backdrop="static" data-keyboard="false"
                                id="degreeManagementButton"
                                onclick="degreeManagementButton();">
                                Phân quyền quản lý văn bằng
                            </button>
                        </div>
                        <div class="user-degree-management">
                            <button type="button" data-toggle="modal"
                                data-target="#userDegreeManagementModal"
                                data-backdrop="static" data-keyboard="false"
                                id="userDegreeManagementButton">
                                Phân quyền người quản lý
                            </button>
                        </div>
                        <div class="degree-history">
                            <button type="button" data-toggle="modal"
                                data-target="#historyModal"
                                data-backdrop="static"
                                data-keyboard="false" id="historyButton">Lịch sử
                                quản lý văn bằng</button>
                        </div>
                    </div>
                    <div class="degree-management">
                        <button type="button" data-toggle="modal" data-target="#degreeManagementModal"
                            data-backdrop="static" data-keyboard="false" id="degreeManagementButton"
                            onclick="degreeManagementButton();">
                            Phân quyền quản lý văn bằng
                        </button>
                    </div>
                    <div class="filter">
                        <div>
                            <input type="text" id="nameInput"
                                onkeyup="filterByName();"
                                placeholder="Tìm theo tên cán bộ...">
                            <!-- <select id="typeInput" onchange="filterByType();">
                                <option value="" selected>Lọc theo thao tác</option>
                                <option value="Đã Duyệt">Đã Duyệt</option>
                                <option value="Đợi Duyệt">Đợi Duyệt</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="box-body" style="overflow-x:auto;">
                    <!-- <p><button onclick="sortTable($('#myTable'),'asc')">Sắp xếp theo thứ tự</button></p>  -->
                        <table id="myTable" class="table">
                            <thead>
                                <tr>
                                    <th>Mã cán bộ</th>
                                    <th>Tên cán bộ</th>
                                    <th>Mã văn bằng</th>
                                    <th>Thao tác</th>
                                    <th>Thời điểm</th>
                                    <th>Diễn giải</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <div class="pagination-container">
                            <nav>
                                <ul class="pagination" id="paginationLog"></ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="box-body" style="overflow-x:auto;">
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                                <th>Mã cán bộ</th>
                                <th>Tên cán bộ</th>
                                <th>Mã văn bằng</th>
                                <th>Thao tác</th>
                                <th>Thời điểm</th>
                                <th>Diễn giải</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- DEGREE KIND POPUP -->
            <div class="modal fade" id="degreeKindModal">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title">Danh mục loại văn bằng</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <button type="button" data-toggle="modal" data-target="#addKindModal"
                                    data-backdrop="static" data-keyboard="false" class="btn btn-success btn-sm"><i
                                        class="glyphicon glyphicon-plus"></i>
                                    Thêm</button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <button type="button" data-toggle="modal"
                                        data-target="#addKindModal"
                                        data-backdrop="static"
                                        data-keyboard="false" class="btn
                                        btn-success btn-sm"><i
                                            class="glyphicon glyphicon-plus"></i>
                                        Thêm</button>
                                    <select name="state"
                                            id="maxRowsDegreeKind" style="width: 150px; height: 31px;">
                                            <option value="5"> 5 </option>
                                            <option value="20"> 20 </option>
                                            <option value="30"> 30 </option>
                                    </select>
                                </div>
                                <div id="container" style="overflow-x:auto;">
                                    <div class="form-group">
                                        
                                    </div>
                                    <!-- <p><button onclick="sortTable($('#degreeKindTable'),'asc')">Sắp xếp theo số thứ tự</button></p> -->
                                    <table id="degreeKindTable" class="table
                                        table-bordered table-striped">

                                        <thead>
                                            <tr>
                                                <th
                                                    onclick="sortTable($('#degreeKindTable'),'asc')"
                                                    style="width: 5%
                                                    !important;">#</th>
                                                <th style="width: 60%
                                                    !important;">Tên loại
                                                    văn
                                                    bằng</th>
                                                <th style="width: 35%
                                                    !important;">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        </tbody>
                                    </table>
                                    <div class="pagination-container">
                                        <nav>
                                            <ul class="pagination" id="paginationKind"></ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- END POPUP CONTENT -->

            <!-- ADD DEGREE KIND POPUP -->
            <div class="modal fade" id="addKindModal">
                <div class="modal-dialog modal-sm">


                    <!-- Modal content-->
                    <form id="formkinddegree">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title">Thêm loại văn bằng</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <input type="text" name="idKindDegree" id="idKindDegree" 
                                    placeholder="Nhập ID loại văn bằng" 
                                    data-parsley-required="true" 
                                    data-parsley-type="number"
                                    data-parsley-error-message="ID phai la mot so!">
                            </div>
                            <div class="modal-body">
                                <form id="idDegreeKindForm">

                                    <div>
                                        <input type="text" name="nameKindDegree"
                                            id="nameKindDegree"
                                            placeholder="Nhập tên loại văn bằng"
                                            data-parsley-required="true"
                                            data-parsley-error-message="Không
                                            được rỗng.">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="button" class="btn btn-success btn-xs" onclick="addDegreeKind();"><i
                                        class="glyphicon glyphicon-plus"></i>
                                    Thêm</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>




            <!-- DEGREE NAME POPUP -->
            <div class="modal fade" id="degreeNameModal">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title">Danh mục tên văn bằng</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <button type="button" data-toggle="modal" data-target="#addNameModal"
                                    data-backdrop="static" data-keyboard="false" class="btn btn-success btn-sm"><i
                                        class="glyphicon glyphicon-plus"></i>
                                    Thêm</button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <button type="button" data-toggle="modal"
                                        data-target="#addNameModal"
                                        data-backdrop="static"
                                        data-keyboard="false" class="btn
                                        btn-success btn-sm"><i
                                            class="glyphicon glyphicon-plus"></i>
                                        Thêm</button>
                                    <select name="state"
                                            id="maxRowsDegreeName" style="width: 150px; height: 31px;">
                                            <option value="5"> 5 </option>
                                            <option value="20"> 20 </option>
                                            <option value="30"> 30 </option>
                                    </select>
                                </div>
                                <div id="container" style="overflow-x:auto;">
                                    <div class="form-group">
                                        
                                    </div>
                                    <p><button onclick="sortTable($('#degreeNameTable'),'asc')">
                                        Sắp xếp theo thứ tự</button></p>
                                    <table id="degreeNameTable" class="table
                                        table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th
                                                    onclick="sortTable($('#degreeNameTable'),'asc')">#</th>
                                                <th>Loại văn bằng</th>
                                                <th>Tên văn bằng</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                    <div class="pagination-container">
                                        <nav>
                                            <ul class="pagination" id="paginationName"></ul>
                                        </nav>
    
                                    </div>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div> -->
                    </div>

                </div>
            </div>
            <!-- END POPUP CONTENT -->


            <!-- ADD DEGREE NAME POPUP -->
        <form id="formNameDegree">
            <div class="modal fade" id="addNameModal">
                <div class="modal-dialog modal-sm">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal">x</button>
                                <h4 class="modal-title">Thêm tên văn bằng</h4>
                            </div>
                            <div class="modal-body">
                                <form id="idDegreeNameForm">
                                    <div>
                                        <select name="idKindDegreeSelect"
                                            id="idKindDegreeSelect"
                                            data-parsley-required="true"
                                            data-parsley-error-message="Không
                                            được rỗng.">

                                        </select>
                                    </div>

                                    <div>
                                        <input type="text" name="nameDegree"
                                            id="nameDegree"
                                            placeholder="Nhập tên văn bằng"
                                            data-parsley-required="true"
                                            data-parsley-error-message="Không
                                            được rỗng.">
                                    </div>
                                </form>
                            </div>
                            <div>
                                <input type="text" name="idDegreeName" id="idDegreeName"
                                    placeholder="Nhập ID tên văn bằng"
                                    data-parsley-required="true" 
                                    data-parsley-type="number"
                                    data-parsley-error-message="ID phai la mot so!">
                                    
                            </div>
                            <div>
                                <input type="text" name="nameDegree" id="nameDegree"
                                    placeholder="Nhập tên loại văn bằng"
                                    data-parsley-required="true" 
                                    data-parsley-error-message="Ten phai la mot chuoi!"
                                    >
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-xs" onclick="addDegreeName();"><i
                                    class="glyphicon glyphicon-plus"></i>
                                Thêm</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>



            <!-- DEGREE MANAGEMENT POPUP -->
            <div class="modal fade" id="degreeManagementModal">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title">Phân quyền quản lý văn bằng</h4>
                        </div>
                        <div class="modal-body">
                            <div class="box-body" style="overflow-x:auto;">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-xs-4 col-lg-4 col-md-2 col-sm-2">
                                        <button type="button" name="" class="form-control btn btn-primary"
                                            data-toggle="modal" data-target="#addDegreeManagement"
                                            data-backdrop="static" data-keyboard="false">
                                            <i class="fa fa-plus"></i> Thêm</button>
                                    </div>
                                    <table id="degreeManagementTable"
                                        class="table table-striped
                                        table-bordered table-sm"
                                        cellspacing="0" style="width:100%">
                                        <thead>
                                            <tr class="table-header">
                                                <th>Tên văn bằng</th>
                                                <th>Đơn vị</th>
                                                <th>Từ ngày</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <table id="degreeManagementTable" class="table table-striped table-bordered table-sm"
                                    cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr class="table-header">
                                            <th>Tên văn bằng</th>
                                            <th>Đơn vị</th>
                                            <th>Từ ngày</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success col-xs-2 col-lg-2 col-md-2 col-sm-2"
                                data-dismiss="modal">Lưu</button>
                            <!-- <button type="button" class="btn btn-danger col-xs-2 col-lg-2 col-md-2 col-sm-2"
                                data-dismiss="modal">Xóa</button> -->
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="addDegreeManagement">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h4 class="modal-title">Thêm phân quyền</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="nameCertify" class="col-sm-2 control-label">Tên văn bằng</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="nameCertify"
                                            placeholder="Name certification">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="organization" class="col-sm-2 control-label">Đơn vị</label>

                                    <div class="col-sm-10">
                                        <select class="form-control" id="organization" placeholder="Organization">
                                            <option value=""></option>
                                            <option value="1">System</option>
                                            <option value="2">CNTT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dateform" class="col-sm-2 control-label">Từ ngày</label>

                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="datefrom" placeholder="Date from">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="button" class="btn btn-success btn-sm">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Thêm</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- END POPUP CONTENT -->

            <!-- HISTORY POPUP -->
            <div class="modal fade" id="historyModal">
                <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal">x</button>
                                <h4 class="modal-title">Lịch sử quản lý văn bằng</h4>
                            </div>
                            <div class="modal-body">
                                <div style="overflow-x:auto;">
                                        <div class="form-group">
                                            <select name="state"
                                                id="maxRowsHistory"
                                                class="btn btn-success btn-sm" style="width: 150px; height: 31px; font-size: 13px;">
                                                <option value="5" selected> 5 </option>
                                                <option value="30"> 30 </option>
                                                <option value="50"> 50 </option>
                                            </select>
                                        </div>   
                                    <table id="historyTable" class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tài khoản</th>
                                                <th>Thao tác</th>
                                                <th onclick="sortTable($('#historyTable'), 'desc');">Thời gian<i id="btn-sort"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                    <div class="pagination-container">
                                        <nav>
                                            <ul class="pagination" id="paginationHistory"></ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div> -->
                    </div>

                </div>
            </div>
            <!-- END POPUP CONTENT -->

            <!-- USER DEGREE MANAGEMENT POPUP -->
            <div class="modal fade" id="userDegreeManagementModal">
                <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal">x</button>
                                <h4 class="modal-title">Phân quyền người quản lý</h4>
                            </div>
                            <div class="modal-body">
                                <div style="overflow-x:auto;">
                                    
                                </div>

                                <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div> -->
                            </div>

                        </div>
                    </div>
                    <!-- END POPUP CONTENT -->

                </div>
            </div>
        </div>

        <!-- delete Modal-->
        <div class="modal fade" id="deleteModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xóa loại văn bằng</h4>
                        </div>

                        <div class="modal-body">
                            <div>
                                <table align="center">
                                    <tr>
                                        <td class="modal-body2">
                                            <p> </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-body1">
                            <table align="center">
                                <tr>
                                    <td>
                                        <p> Bạn chắc chắn muốn xóa loại
                                            văn bằng này? </p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-success
                                btn-md"
                                onclick="deleteDegreeKindManagement();">
                                Xóa
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-danger
                                btn-md"
                                data-dismiss="modal">
                                Hủy
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- update degree kind management-->
            <div class="modal fade"
                id="updateFrontDegreeKindManagement">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                data-dismiss="modal">x</button>
                        </button>
                        <h4 class="modal-title">Cập nhật loại văn bằng</h4>
                    </div>
                    <div class="modal-body" style="overflow-x:auto;">
                        <table id="tableUpdateDegreeKind" class="table"
                            cellspacing="0" style="width:100%">
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update degree kind name -->
        <div class="modal fade"
            id="insertValueUpdateDegreeKindNameModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal">x</button>
                        <h4 class="modal-title">Cập nhật giá trị</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table align="center">
                                <tr>
                                    <td class="modal-body2">
                                        <p> </p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <div class="modal-body1">
                        <div>
                            <table align="center" valign="middle">
                                <tr>
                                    <td>
                                        <input type="text"
                                            class="form-control"
                                            id="valueUpdate"
                                            placeholder="Giá trị cập
                                            nhật"
                                            data-parsley-required="true"
                                            data-parsley-error-message="Không
                                            được rỗng.">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-success
                                btn-md"
                                onclick="updateDegreeKindManagement();">
                                Sửa
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-danger
                                btn-md"
                                data-dismiss="modal">
                                Hủy
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- delete Modal  degree name-->
        <div class="modal fade" id="deleteDegreeNameModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Xóa tên văn bằng</h4>
                    </div>

                    <div class="modal-body">
                        <div>
                            <table align="center">
                                <tr>
                                    <td class="modal-body1">
                                        <p> </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-body2">
                        <table align="center">
                            <tr>
                                <td>
                                    <p> Bạn chắc chắn muốn xóa tên văn
                                        bằng này? </p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success
                            btn-md"
                            onclick="deleteDegreeNameManagement();">
                            Xóa
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-danger
                            btn-md"
                            data-dismiss="modal">
                            Hủy
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- update degree name management-->
        <div class="modal fade" id="updateFrontDegreeNameManagement">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal">x</button>
                    </button>
                    <h4 class="modal-title">Cập nhật tên văn bằng</h4>
                </div>
                <div class="modal-body" style="overflow-x:auto;">
                    <table id="tableUpdateDegreeName" class="table"
                        cellspacing="0" style="width:100%">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Update degree name -->
    <div class="modal fade" id="insertValueUpdateDegreeNameModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal">x</button>
                    <h4 class="modal-title">Cập nhật giá trị</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <table align="center">
                            <tr>
                                <td class="modal-body2">
                                    <p> </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-body1">
                    <div>
                        <table align="center" valign="middle">
                            <tr>
                                <td>
                                    <input type="text"
                                        class="form-control"
                                        id="valueUpdateDegreeName"
                                        placeholder="Giá trị cập nhật"
                                        data-parsley-required="true"
                                        data-parsley-error-message="Không
                                        được rỗng.">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-success
                            btn-md"
                            onclick="updateDegreeNameManagement();">
                            Sửa
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-danger
                            btn-md"
                            data-dismiss="modal">
                            Hủy
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>


        </body>

    </html>
